<h1>Show Snake trait</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.snake_trait_path(@conn, :edit, @snake_trait) %></span> |
<span><%= link "Back", to: Routes.snake_trait_path(@conn, :index) %></span>
