
<h1>Trait: <%= @trait.name %></h1>

<p>
  <span><%= link "Edit", to: Routes.trait_path(@conn, :edit, @trait) %></span> |
  <span><%= link "Back", to: Routes.trait_path(@conn, :index) %></span>
</p>

<ul>
  <li>
    <strong>Inheritance:</strong>
    <%= @trait.inheritance %>
  </li>
</ul>

<h2>Snakes with <%= @trait.name %></h2>

<ul>
  <%= for snake <- @snakes do %>
    <li><%= link snake.name, to: Routes.snake_path(@conn, :show, snake) %></li>
  <% end %>
</ul>
