<h1>New Photo</h1>
<p><%= link "Back", to: Routes.snake_photo_path(@conn, :index, @snake) %></p>

<%= render("form.html",
  Map.put(assigns, :action, Routes.snake_photo_path(@conn, :create, @snake))) %>
