<h1>Listing Snakes</h1>

<p>
  <span><%= link "New Snake", to: Routes.snake_path(@conn, :new) %></span>
</p>

<div id="snakes-table-root">
  <p>Loading dynamic snakes table...</p>
  <%= render "table.html", assigns %>
</div>

<script>
  window.snakes = (<%= raw @snakes_json %>);
</script>
