<h1>
  Listing Weights
  <%= if @snake do %>
    for <%= snake_link(@conn, @snake) %>
  <% end %>
</h1>

<%= if assigns[:snake_id] do %>
  <%= render "single_table.html", assigns %>
<% else %>
  <%= render "table.html", assigns %>
<% end %>

<span><%= link "New Weight", to: Routes.weight_path(@conn, :new) %></span>
