<h1>Listing Feeds</h1>

<%= if assigns[:snake_id] do %>
  <%= render "single_table.html", Map.put(assigns, :feeds, @feeds) %>
<% else %>
  <%= render "table.html", Map.put(assigns, :feeds, @feeds) %>
<% end %>

<span><%= link "New Feed", to: Routes.feed_path(@conn, :new) %></span>
